.App {
  text-align: center;
}

html{
  --primary: #01192E;
  --secondary: #21375C;
  --secondary-purple: #5E5EFB;
  --light-purple: #7975f0 ;
  --inactive-black: #343434;
  --white: #ffffff;
  --gray: #dae6f5;
  --yellow: #f8f8f8;
  --orange: rgb(138, 31, 7);
  --red:  #f0dcdc;
}